<p>
  <mat-toolbar>
    <span>Sample Title</span>
    <span class="example-spacer_2"></span>
    <a mat-button href="moveList">Movie List</a>
    <a mat-button href="contact_us" >Contact Us</a>
    <span class="example-spacer"></span>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Example icon button with a logout icon" (click)="logout()"><mat-icon>input</mat-icon>
          </button>
        </div>
      </div>
    </div>

  </mat-toolbar>
</p>